<h1>新しい ToDo</h1>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.label :tag %><br />
  <%= f.text_field :tag_list %>
  </p>
  <p>
  <%= f.submit "作成" %>
  </p>
<% end %>

<%= link_to "戻る", items_path %>
